<!DOCTYPE html>
<html>

<head>
    <title>OLX Admin Panel</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ base_path() }}/data/images/XentoOlx.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# <link rel="stylesheet" href="{{ base_path() }}/styles/flash.css"> #}
    {# <link rel="stylesheet" href="{{ base_path() }}/styles/main.css"> #}
    {# <link rel="stylesheet" type="text/css" href="{{ base_path() }}/styles/Buyer.css"> #}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_path() }}/styles/AdminPanel/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>

    <script src='{{ base_path() }}/scripts/main.js'></script>
    
</head>

<body>
    {% block content %} {% endblock %}
    <div class="container">
        <center>
            {% include 'templates/popup/flash.twig' %}
        </center>
    </div>
</body>

</html>