<!DOCTYPE html>
<html>

<head>
    <title>Xento-OLX : Marketplace</title>
    <link rel="shortcut icon" type="image/png" href="{{ base_path() }}/public/images/XentoOlx.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ base_path() }}/public/styles/flash.css">
    <link rel="stylesheet" href="{{ base_path() }}/public/styles/navbarAccount.css">
    <link rel="stylesheet" href="{{ base_path() }}/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="{{ base_path() }}/public/styles/Buyer.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_path() }}/public/styles/product-details.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_path() }}/public/styles/forgotpass.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_path() }}/public/styles/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_path() }}/public/styles/product.css">

    <script src='{{ base_path() }}/public/scripts/main.js'></script>
    <script src="{{ base_path() }}/public/scripts/product.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script>
        $(document).ready(function() {
            $('#search-products').keyup(function()  {
                var txt = $(this).val();
                
                if (txt != '') {
                    $('#electronics').hide();
                    $('#House').hide();
                    $('#other').hide();
                    $('#bike').hide();
                    $('#car').hide();
                    $('#fur').hide();
                    $.ajax({
                        url:"{{ url_for('searchproduct') }}",
                        method:"GET",
                        data:{search:txt},
                        dataType:"text",
                        success:function(data)  {
                        $('#search-results').html(data);
                        }
                    });
                }else   {
                    $('#electronics').show();
                    $('#House').show();
                    $('#other').show();
                    $('#bike').show();
                    $('#car').show();
                    $('#fur').show();
                    $('#search-results').html('');
                }
            });
        });
    </script>
    
</head>

<body>
    {% include 'templates/navigations/nav.twig' %}

    <div class="container">

        <center>
            {% block content %} {% endblock %}
            {% include 'templates/popup/flash.twig' %}
        </center>
        
    </div>
</body>

</html>